{% include "includes/head.html" %}
    <title>Cadastrar Campanha</title>
</head>

 <body>

 <div class="barra" align="center">
 	<br/>
 	 <!--<img src="util/logo.png"  width=50 height=50>-->
 	<label class="whiteText">Rede do Conselho de Medicina - IES</label>
 </div>

 <br /><br /><br /><br />

<fieldset>
        <legend>Busca por Aluno</legend>
        <table cellspacing="10">
         <tr>
          <td>
           <label for="campo12">CPF: </label>
          </td>
          <td align="left">
           <input id="cpfSearch" type="text" name="campo12">
           <input id="btnSearch" type="submit" value="buscar">
           <input id="btnSearchAll" type="submit" value="todos">
          </td>
         </tr>
        </table> 
</fieldset>
<br />

<p id="showData" align="center"></p>

</form>


<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script>

<script defer type="text/javascript" async>

    var btnSearch = document.getElementById("btnSearch");
    btnSearch.addEventListener('click', async function (){

    	var cpf = document.getElementById('cpfSearch').value

  if(cpf !=''){

		$.ajax({
            url: "http://18.217.199.133:3000/api/org.example.crm.Diploma/"+cpf,
            type: 'GET',
            dataType: 'json',
            headers: {
                'contentType': 'application/json',
                'Accept': 'application/json',
            },
        }).then(function(result) {
    		        createTable([result]);
 		 });

    }else{
      alert('Preencha o campo CPF');
    }

    });

    var btnSearchAll = document.getElementById("btnSearchAll");
    btnSearchAll.addEventListener('click', async function (){

		var dados = $.ajax({
            url: "http://18.217.199.133:3000/api/org.example.crm.Diploma",
            type: 'GET',
            dataType: 'json',
            headers: {
                'contentType': 'application/json',
                'Accept': 'application/json',
            },
        }).then(function(result) {
    		        createTable(result);

 		 });
 
    });



    var  createTable = function CreateTableFromJSON(result) {


        // EXTRACT VALUE FOR HTML HEADER. 
        // ('Book ID', 'Book Name', 'Category' and 'Price')
        var col = [];
        for (var i = 0; i < result.length; i++) {
            for (var key in result[i]) {
                if (col.indexOf(key) === -1) {
                    col.push(key);
                }
            }
        }

        // CREATE DYNAMIC TABLE.
        var table = document.createElement("table");
        table.className = "tg";

        // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

        var tr = table.insertRow(-1);                   // TABLE ROW.

        for (var i = 1; i < col.length; i++) {
            var th = document.createElement("th");      // TABLE HEADER.
            th.className = "tg-p7ly";
            th.innerHTML = col[i];
            tr.appendChild(th);
        }

        // ADD JSON DATA TO THE TABLE AS ROWS.
        for (var i = 0; i < result.length; i++) {

            tr = table.insertRow(-1);

            for (var j = 1; j < col.length; j++) {
           		var tabCell = tr.insertCell(-1);
              tabCell.innerHTML = result[i][col[j]];
            }
        }

        // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
        var divContainer = document.getElementById("showData");
        divContainer.innerHTML = "";
        divContainer.appendChild(table);
    }
    
</script>

 </body>
</html>